.container>div {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  color: #ffeead;
}

body {
  margin: 0;
  background-image: url("galaxy.jpg");
}

html, body {
  box-sizing: border-box;
  height: 100%;
  padding: 5px;
  background-color: #ffeead;
}
