.container {
  border: 5px solid #00a365;
  display: flex;
  flex-wrap: wrap;
}

.item1 {
  grid-area: header;
}

.item2 {
  grid-area: menu;
}

.item3 {
  grid-area: right;
}

.item4 {
  grid-area: footer;
}

.grid-container {
  height: 70%;
  display: grid;
  grid: 'header header header header header header' 'menu right right right right right' 'menu footer footer footer footer footer';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container>div {
  background-color: rgba(232, 181, 208, 1);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  color: blue;
}
